

<!--Acordion listado Formulas-->
<h1 class="title text-center">Listado de Formulas</h1>

<div class="row justify-content-md-center">
    <div class="col-11 col-md-6 col-lg-5">
  
       
            <div class="acordion"  *ngFor="let formula of formulas">
                <div class="acordion-item" >
                    <h2 class="accordion-header" id="formula.value">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" 
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        {{formula.formula}}
                        
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body"> 
                            <p>Se recomienda que las formulas solo sean utilizadas en vacas mayores</p>
                            <br>
                            {{formula.descripcion}}
                            <br>
                        <button   class="btn">Información</button>

                        <button  class="btn">Eliminar</button>
                        </div>
                    </div>
                
                </div>
            </div>
        
  
    </div>
  
  </div>