<!--Formulario para Registro de Vacas-->
    <h1 class="title text-center">Registro de Vacas</h1>
        <div class="row justify-content-md-center">
            <div class="col-11 col-md-6 col-lg-5">
                <div class="formularios">
                    
                    <form [formGroup]="formularioVacas">
                        
                        <div class="row justify-content-center">
                            
                            <div class="col-10 mt-3">
                                <h5>Registrar Vaca</h5>
                            </div>
                            
                            <div class="col-10">
                                <p>Ingrese la información de la Vaca</p>
                            </div>

                            <!--Arete-->
                            <div class="col-10 my-2">
                                <label for="areteVaca">Arete</label>
                                <input type="text" class="form-control inputs" formControlName="arete" required>
                            </div>
                            
                            <!--Fecha de Ingreso-->
                            <div class="col-10 my-2">
                                <label for="fechaIng"> Fecha de Ingreso </label>
                                <input type="text" class="form-control inputs" formControlName="fechaIng" placeholder="dd/mm/aaaa" required>
                            </div>
                            
                            <!--Raza-->
                            <div class="col-10 my-2">
                                <label for="raza">Raza</label>
                                <select class="form-select form-select-sm select" aria-label=".form-select-sm example" formControlName="raza" required>
                                    <option selected>Seleccione la raza</option>
                                    <option [value]="raza.id" style="color: white;" *ngFor="let raza of razas"> {{raza.nombre}} </option>
                                </select>
                            </div>
                            
                            <!--Fecha de Nacimiento-->
                            <div class="col-10 my-2">
                                <label for="nacimiento">Fecha de Nacimiento</label>
                                <input type="text" class="form-control inputs" formControlName="fechaNac" placeholder="dd/mm/aaaa" required> 
                            </div>
                            
                            <!--Fecha de registro-->
                            <div class="col-10 my-2">
                                <label for="registro" >Fecha de registro</label>
                                <input type="text" class="form-control inputs" formControlName="fechaReg" placeholder="dd/mm/aaaa" required>
                            </div>
                            
                            <!--Lote-->
                            <div class="col-10 my-2">
                                <label for="lote">Lote</label>
                                <select class="form-select form-select-sm select" aria-label=".form-select-sm" formControlName="lote" required>
                                    <option selected>Seleccione el Lote</option>
                                    <option [value]="lote.id" *ngFor="let lote of lotes">{{lote.lote}}</option>
                                </select>
                            </div>
                            
                            <!--Peso-->
                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <label for="peso">Peso</label>
                                </div>
                                

                                <div class="col-10">
                                    <input type="text" class="form-control  inputs" formControlName="peso" required>
                                </div>
                                
                                

                                <div class="col-10 text-center">
                                    <button (click)="registroVaca()" class="btn">Registrar</button>
                                </div>
                            </div>
                        </div>
                
                    </form>
                    
                    <!--Fin del formulario-->
                    
                </div>
            </div>
        </div>
