<!--Formulario de lotes-->

    <h1 class="title text-center"> Registro de Nueva Formula</h1>


    <div class="row justify-content-center">
        <div class="col-11 col-md-6 col-lg-4">
            <div class="formularios">
                <form [formGroup]="formularioLotes" ngsub>

                    <!--Nombre-->
                    <div class="row justify-content-center">

                        <div class="col-10 mt-3">
                            <h5>Registrar lote</h5>
                        </div>

                        <div class="col-10">
                            <p>Ingresa la información del lote</p>
                        </div>
                        <div class="col-10 my-2">
                            <label class="text-left" for="nombre">Nombre</label>
                            <input type="text" class="form-control inputs" required formControlName="lote">
                        </div>
                
                        <div class="col-10 my-2">
                                <!--Usuario-->
                                <label for="usuario">Usuario</label>
    
                                <select class="form-select form-select-sm select" aria-label=".form-select-sm" formControlName="usuario">
                                    <option selected>Seleccione un usuario</option>
                                    <option [value]="usuario.id" *ngFor="let usuario of usuario">{{usuario.nombre}}</option>
                                </select>
                                
                        </div>

                         

                        <div class="col-10 text-center mt-2 mb-3">
                            <button type="button" (click)="registrarLote()" class="btn" [disabled]="!formularioLotes.valid">Registrar</button>
                        </div>

                    </div>

                    
                </form>
                <!--Fin del formulario-->
                
            </div>
        </div>
    </div>
