

<!--Acordion listado Usuarios-->

<div class="row justify-content-center">
  <div class="col-sm-8">

     
          <div class="acordion" >
              <div class="acordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" 
                      data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                      Nombre del usuario
                      </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                      <div class="accordion-body"> 
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <button   class="btn">Información</button>
                      <button  class="btn">Lotes</button>
                      <button  class="btn">Eliminar</button>
                      </div>
                  </div>
              
              </div>
          </div>
      
      


      

  </div>

</div>