*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #1c1c1c;
    color: #FFFFFF;
}

.btn{
    margin: 10px;
    border: 3px solid;
    border-color: #2F4538;
    background-color: transparent;
    border-radius: 6px;
    padding: 9px;
    color: rgb(235, 233, 233);
    
}

.btn:hover{
    background-color: #accc7b;
    color: black;
    border-color: #20331b;
}

.inputs{
    background-color: transparent !important; 
    color: #FFFFFF !important; 
    border-color: #203120 !important;
}

.select{
    background-color: #1f1f1f;
    color: #FFFFFF;
    border-color: #203120;
    height: 40px;
   
}

.formularios{
    margin-top: 20px;
    border-color: #20331b;
    background-color: #1f1f1f;
    color: #FFFFFF;
    text-align: center;
    border-radius: 25px;
    border-style: solid;
    box-shadow:  5px 5px 5px 0px rgba(49,51,51,.53);
}
header{
    background-color: #0b2913;
    width: 100%;
    position: fixed;
    z-index: 10;
}
nav{
    float: left;
}
nav ul{
    list-style: none;
    overflow: hidden;
}
nav ul li{
    float: left;
    font-size: 16px;
}
nav ul li a{
    display: block;
    padding: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
nav ul li:hover{
    background-color: #20331b;
}

.acordion{
    margin-top: 50px;
    background-color: #252525;
    color: #dcdcdc;
    text-align: center;
    padding: 5%;
}

.title{
    margin-top: 10px;
    margin-left: 10px;
}



